[Unit]
Description=Run generate_index.service daily
# Explain what does this unit file do

[Timer]
OnCalendar=*-*-* 05:00:00
# Timer will run daily at 5 AM, regardless of the year, month, or day.
Persistent=true

[Install]
WantedBy=timers.target
# Timer starts when the system is initialized and the timers group is activated.

